.shop-section {
    padding: 40px 20px;
    background-color: #e0f8f3;
    /* background-color: #f8fafa; */
    border-radius: 10px;
  }
  
  .shop-heading {
    color: rgb(12, 12, 12);
    margin-left: 10px;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  
  .shop-grid {
    border-radius: 30px;
    padding : 20px;
    background-color: #f8fafa;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-areas: 
      "a b d"
      "a c d"
      "e f g"; /* Define the areas based on your pattern */
    gap: 20px; /* Gap between grid items */
  }
  
  .grid-item {
    min-height: 170px;         
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-size: cover;    
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .grid-item:hover {
    transform: scale(1.02);
  }
  

  .a {
    grid-area: a;
    background-image:url('../../Images/Gemini_Generated_Image_njnl3rnjnl3rnjnl.jpg');
    object-fit:contain;
  }
  
  .b {
    grid-area: b;
    background-image: url("../../Images/Leonardo_Phoenix_09_Give_me_images_in_which_there_is_only_hum_3.jpg");
  }
  
  .c {
    grid-area: c;
    background-image: url("../../Images/Leonardo_Phoenix_09_A_stunning_highfashion_photograph_featurin_3.jpg");
  }
  
  .d {
    grid-area: d;
    background-image: url("../../Images/Leonardo_Phoenix_09_A_stunning_highfashion_photograph_featurin_3.jpg");
  }
  
  .e {
    grid-area: e;
    background-image: url("../../Images/Leonardo_Phoenix_09_exquisite_high_fashion_still_life_photogra_1.jpg");
  }
  
  .f {
    grid-area: f;
    background-image: url("../../Images/Leonardo_Phoenix_09_A_highfashion_photograph_featuring_a_beaut_1.jpg");
  }
  
  .g {
    grid-area: g;
    background-image: url("../../Images/Leonardo_Phoenix_09_Capture_exquisite_high_fashion_photography_3.jpg");
  }
  